<div class="carousel-item active">
    <img class="w-100" src="<%= Carousel %>" alt="Image">
    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 900px;">
            <h4 class="text-white text-uppercase mb-md-3">Traditional & Delicious</h4>
            <h1 class="display-3 text-white mb-md-4">Traditional Ice Cream Since 1950</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>
        </div>
    </div>
</div>