<div class= control-group">
    <input type="text" class="form-control p-4" id="<%= id %>" placeholder="<%= placeholder %>" required="required"
        data-validation-required-message="<%= message %>" />
    <p class="help-block text-danger"></p>
</div>