<div class="text-center">
    <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
    <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos
        labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
    <img class="img-fluid mx-auto mb-3" src="<%= Testimonial %>" alt="">
    <h5 class="font-weight-bold m-0">Client Name</h5>
    <span>Profession</span>
</div>